@model HomeModel;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Valores Recebido pelo Controlador</h1>
    <h5>Nome: @Model.Nome</h5>
    <h5>Email: @Model.Email</h5>
</div>
